version: '2.3'

services:
  ros:
    tty: true
    build:
      context: .
      dockerfile: ./Dockerfile
      #args:
        #USERNAME: 'PUTYOUREMAIL@HERE.COM'
        #PASSWORD: 'PUTYOURPASSWORDHERE'
    volumes:
      - ./entrypoint.sh:/root/entrypoint.sh
      - ./scripts:/notebooks/workspace/src/scripts
    environment:
      - ROS_MASTER_URI=http://localhost:11311
      - ROS_ROOT=/opt/ros/kinetic/share/ros
      - ROS_PACKAGE_PATH=/opt/ros/kinetic/share
      - HOST_USER=$USER
      - HOST_UID=$UID
    entrypoint: ["/root/entrypoint.sh"]
    command: ["bash"]
    # comment out the runtime in case of CPU only
    # runtime: nvidia
