version: '2.3'

services:
  ros:
    container_name: ros-py3
    tty: true
    build:
      context: .
      dockerfile: ./Dockerfile
    volumes:
      - ./start.sh:/root/start.sh
      # - ./scripts:/notebooks/workspace/src/scripts
    environment:
      - ROS_MASTER_URI=http://localhost:11311
      - ROS_ROOT=/opt/ros/kinetic/share/ros
      - ROS_PACKAGE_PATH=/opt/ros/kinetic/share
      - HOST_USER=$USER
      - HOST_UID=$UID
    #entrypoint: ["/root/entrypoint.sh"]
    command: ["bash"]
    # comment out the runtime in case of CPU only
    # runtime: nvidia
